<%
  const param = {
    title: 'hash',
    path: '../'
  }
%>
<%- include(`${param.path}@include/_header`, {param: param}) %>
<body>
  <main class="main" id="main">
    <div class="wrapper">

      <% hash.forEach((item,index) => { %>
      <div class="tab" id="hash<%- index + 1 %>">
        <div class="tab__header" role="tablist">
          <% item.buttonText.forEach(title => { %>
          <div class="tab__button" role="presentation">
            <button type="button" role="tab"><%- title %></button>
          </div>
          <% }) %>
        </div>
        <div class="tab__body">
          <% item.hashText.forEach(text => { %>
          <div class="tab__content" role="tabpanel"><%- text %></div>
          <% }) %>
        </div>
      </div>
        <% }); %>

    </div>
  </main>
</body>
<%- include(`${param.path}@include/_footer`, {param: param}) %>
